body{
    margin: 0px;
    padding:0px;
    background-color: yellowgreen;
}

div.background{
    margin-left: 10%;
    background-color: white;
    border:2px solid white;
    height: 80vh;
    display: flex;
    width: 70%;
}

div.green{
    background-color: rgb(25, 82, 39);
    color: white;
    text-align: center;
    width: 40%;
    padding: 140px 10px 30px 10px;   
}

div.green span h2{
    font-size: 30px;
    
}

div.green span h4{
    line-height: 23px;
}

div.green span button{
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid white;
    padding:10px 50px;
    cursor: pointer;
    color: white;
}

div.green span button:focus{
    outline: none;
}

div.green span button:hover{
    background: linear-gradient(rgba(123, 172, 135, 0.5),rgba(153, 180, 159, 0.5));
}

div.white{
    background-color: white;
    color: rgb(25, 82, 39); 
    width: 60%;
    text-align: center;
    padding: 40px 100px 200px 100px;  
}

div.white span{
    line-height: 30px;
}



div.white h2{
    font-size: 40px;
}

div.white i{
    padding-left: 10px;
}

div.white form input{
    border: none;
    background:linear-gradient(rgba(82, 85, 83, 0.3),rgba(93, 95, 94, 0.3)); 
    padding: 10px 50px;
}

div.white button{
    border-radius: 20px;
    background-color:rgb(25, 82, 39);
    border: 1px solid white;
    padding:10px 50px;
    cursor: pointer;
    color: white;
    cursor: pointer;
}

div.white button:hover{
    background:linear-gradient(rgba(139, 209, 157, 0.9),rgba(123, 192, 138, 0.9)) ;
}